.body{
    background-color :#286090;
}

.heading{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

.auto{
    background-color : #286090;
    color: whitesmoke;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 90px  0px 50px 80px;
}

.idpass{
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px 10px;
}

.submit{
    border-radius: 10px;
    border: 10px;
    background-color: red;
    color: white;
    margin: 1% 42%;
    font-size: 20px;
    padding: 10px 15px;

}

.form_fields{
    padding: 10px;
}

.me{
    color: white;
    font-size: 20px;
    margin: 0% 0% 0% 45%;
}