.heading{
    color: red;
    margin-left: 20%;
}
.star{
    color: red;
}
#contact{
    margin-left: 20%;
}
body{
    background-color : #d0d0d0 ;
}
#Name{
    padding-bottom:  10px;
    
}
#Email{
    padding-bottom:  10px;
}     
.button{
    background-color : hsl(0, 63%, 45%);
    color: white;
} 
