.brand-logo{
    width: 60px;
    height: 60px;
}

.brand-name{
    font-weight: bold;
    margin-right: 100px;
}
.header{
    text-align: center;
}

.home{
    color: black;
    font-weight: bold;
    margin: 1px 20px;
}

.section-body{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F4iIZ05d-SDUlxxTNaOJEAHaEK%26pid%3DApi&f=1');
    background-repeat: no-repeat;
    background-size:cover ; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body{
    background-color: #f7f5f4;
}

.para1{
    font-size: 50px;
    margin: 80px 0px;
}
 
.para2{
    font-size: 18px;    
    margin: 20px;
}

.para3{
    font-size: 45px;
    text-align: center;
    margin: 90px 0px 0px 0px;
}

.button{
    margin: 80px 20px;
    background-color: #28a745;
    border-radius: 3px;
    border: 0px;
    padding: 10px 20px;
}

.button2-img{
    width: 70px;
    height: 70px;
}

.button2{
    border: thin;
    border-radius: 5px;
    margin: 15px 20px;
    padding: 20px;
    background-color: white;
}
